.dashboardContainer{
    width: 20vw;
    height: 100vh;
}
.products{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: rgb(38,45,196);
    background: linear-gradient(180deg, rgba(38,45,196,1) 20%, rgba(0,221,255,1) 100%);
}
.dashContent{
    width: 80vw;
    height: 100%;
    overflow-y: auto;
}
.dashContent h1{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.barProduct{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.barProduct p{
    height: 60%;
    width: calc(80% / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
}
.barProduct p:first-child {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.barProduct p:last-child {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.sellerProduct{
    width: 100%;
    min-height: 80%;
    padding: 50px 0;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    /* background-color: antiquewhite; */
}

.productSellerCard{
    height: 50px;
    width: 80%;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.cardProductSellerInfo{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #1771db;
    background-color: white;
}
.cardSellerElement{
    position: absolute;
    height: 100%;
    width: calc(100% / 4);
    display: flex;
    align-items: center;
    padding-left: 54px;
    box-sizing: border-box;
    gap: 10px;
    text-transform: uppercase;
}
.elementType{
    top: 0;
    left: 0;
}
.elementVille{
    top: 0;
    left: 25%;
}
.elementPrix{
    top: 0;
    left: 50%;
}
.elementStatus{
    top: 0;
    left: 75%;
}
.productSellerCard:first-child {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.productSellerCard:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cardProductSellerInfo:hover {
    background-color: transparent;
    color: white;
}
/* --------------------------------- */
.filtreButton{
    position: absolute;
    top: 20px;
    right: 20px;
    height: calc(10% - 40px);
    width: 100px;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #1771db;
}

.filterProduct {
    display: none;  
}
.filterProduct.active {
    display: flex;
    position: absolute;
    top: 10%;
    left: 26%;
    width: 70%;
    height: 90%;
    background-color: white;
    border: 2px solid blue;
    flex-direction: column;
    z-index: 10;
}

.allFilterInput{
    height: 85%;
    width: 100%;
    color: blue;
    overflow-y: auto;
}
.allFilterInput h2{
    color: blue;
}
.bigFilterBudget {
    height: 140px;
    display: flex;
    flex-wrap: wrap; 
    gap: 2%;
    justify-content: center ;   
}
.bigFilterInput h2{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-left: 20px;
}
.bigFilterBudget div{
    position: relative;
    height: 40px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 20px;
    
}
.bigFilterBudget div input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    color: black;
    border: none;
}
.bigFilterBudget div label{
    position: absolute;
    top: -10px;
    left: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    background: white;
}
/*  */
.bigFilterType{
    height: 300px;
    width: 100%;
}
.bigFilterCheckboxContainer{
    height: 240px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 1%;
    padding: 10px;
}
.bigFilterCheckboxContainer .checkboxFilter{
    border: 2px solid darkgray;
}
.checkboxFilter label{
    display: flex;
    align-items: center;
}
/*  */


.btn-allFilter{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1771db;
}
.btn-allFilter button{
    height: 40%;
    width: 60%;
    border-radius: 20px;
    background-color: #1771db;
    border: 2px solid white;
    font-size: large;
}

/*  */
/* .bigFilterPiece{
   width: 100%; 
   height: 100px;
} */
.numberPiece,
.surfaceMinimum{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.numberPiece div,
.surfaceMinimum div {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid darkgray;
    border-radius: 10px;
}

/*  */
.performanceEnergetique{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.ges,
.dpe{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 45%;
}
.ges select,
.dpe select{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 46%;
    background-color: transparent;
    color: blue;
}

.ges label,
.dpe label {
    position: absolute;
    top: -9px;
    left: 20px;
    text-transform: uppercase;
    width: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
}

/*  */
.criteresContainer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    box-sizing: border-box;
    padding: 0 4%;
}

.critere {
    position: relative;
    width: 45%;
    height: 40px;
    border: 2px solid darkgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

/*  */

.formFilter{
    display: flex;
    flex-wrap: wrap;
}
.formFilter h2 {
    height: 15%;
    width: 100%;
    color: blue;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 2% 0 0 2%;
}
.btn-filterValidate{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid grey;
    box-sizing: border-box;
}
.btn-filterValidate button {
    height: 40%;
    width: 40%;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: large;
    text-transform: uppercase;
}
/*  */
.searchPlace{
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchPlace input{
    height: 40%;
    width: 80%;
    border-radius: 20px;
    border: 2px solid blue;
    background-color: transparent;
    outline: none;
    color: blue;
    box-sizing: border-box;
    padding: 10px;
}
.searchPlace label{
    position: absolute;
    left: 20%;
    top: 24%;
    height: 13%;
    width: 45%;
    display: flex;
    justify-content: center;
    background-color: white;
    color: blue;
    text-transform: uppercase;
}
/*  */
.checkboxFilterContainer{
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}
.checkboxFilter{
    height: 25%;
    border: 2px solid blue;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

/*  */

.budgetMin,
.budgetMax{
    position: relative;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.budgetMin input,
.budgetMax input{
    height: 30%;
    width: 80%;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
    color: blue;
}
.budgetMin input:focus,
.budgetMax input:focus{
    height: 30%;
    width: 80%;
    background-color: transparent;
    border: 2px solid rgb(4, 236, 4);
    border-radius: 20px;
    outline: none;
}


.budgetMin label,
.budgetMax label{
    position: absolute;
    left: 20%;
    top: 27%;
    height: 13%;
    width: 40%;
    color: blue;
    display: flex;
    justify-content: center;
    background-color: white;
}


@media (max-width: 575px) {
    .dashboardContainer {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 60px;
    }
    .filtreButton {
        width: 80px;
    }
    .barProduct{
        display: none;
    }
    .cardProductSellerInfo{
        height: 100%;
    }
    .cardSellerElement{
        width: 50%;
        height: 50%;
        position: initial;
    }
    .productSellerCard{
        height: 100px;
        width: 90%;
    }
    .dashContent{
        width: 100vw;
    }
    .dashContent h1 {
        font-size: x-large;
    }
}