.contact{
    display: flex;
    flex-direction: row;
}
.contactContent{
    height: 100vh;
    width: 100vw;
}

.contactHeader{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.allContact{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   /*  background-color: antiquewhite; */
}
/* ------------------------------------------- */
.allCustomers,
.friendsContact{
    position: relative;
    height: 80%;
    width: 80%;
   /*  background-color: cadetblue; */
}
/* --------------------------------------------- */

.detailCustomerProducts{
    display: none;
}

.customersContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .5s;
    overflow-y: auto;
}


.allContact.active .allCustomers{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.allContact.active .allCustomers .customersContent{
    height: 100%;
    width: 30%;
    overflow-y: auto;
}
.allContact.active .allCustomers .detailCustomerProducts{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    background-color: white;
    overflow-y: auto;
    color: black;
}
/* ------------------------------------------ */

.allContact.active .friendsContact{
    height: 80%;
    width: 10%;
    background-color: chartreuse;
    transition: .4s;
}

/* ------------------------------------------ */
.customers{
    height: 10%;
    width: 100%;
    background-color: blue;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
}
/* ------------------------------------------ */
