#resetPassword {
    height: 100vh;
    width: 100vw;
    background: rgb(38,45,196);
    background: linear-gradient(180deg, rgba(38,45,196,1) 20%, rgba(0,221,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.passwordContainer {
    height: 600px;
    width: 600px;
    background-color: #0000008f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.password,
button {
    height: 60px;
    width: 80%;
    position: relative;
}
.password input {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 2px solid white;
    background-color: transparent;
    box-sizing: border-box;
    color: white;
    padding: 0 20px;
    outline: none;
}
.password input:required:invalid {
    border: 2px solid red;
}
.password input:focus:invalid {
    border: 2px solid blue;
}
.password input:required:valid {
    border: 2px solid greenyellow;
}
.password label {
    position: absolute;
    top: -10px;
    left: 35px;
    text-transform: uppercase;
    font-size: large;
    color: white;
    padding: 0 5px;
    background-color: black;
}
button {
    background-color: #1771db;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: large;
    border: 1px solid white;
}