.contentContainer{
    position: relative;
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    overflow-y: auto;
    padding: 50px 50px;
    box-sizing: border-box;
    background-color: rgb(34, 140, 213);
}

@media (max-width: 575px) {
    .contentContainer{
        padding: 20px;
    }
    .cardProduct {
        width: 100%;
    }
}
@media (min-width: 1460px) {
    .contentContainer{
        gap: 5%;
    }
}