
.cardProduct{
    height: 420px;
    width: 45%;
    background-color: rgb(198, 198, 198);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid blue;
    box-sizing: border-box;
}
.imageCard{
    height: 45%;
    width: 100%;
    background-color: blue;
}
.descriptionCard{
    height: 55%;
    width: 100%;
    background-color: rgb(175, 175, 175);
    display: flex;
    flex-wrap: wrap;
}
.cardPrice{
    height: 33%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-weight: bold;
    /* background-color: palegreen; */
}
.cardLieux{
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 13%;
    color: blue;
    /* background-color: cadetblue; */
}
.cardType {
    height: 33%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: blue;
}
.detailsBtn{
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsBtn a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: blue;
    height: 60%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}