
.cardProduct{
    height: 400px;
    width: 30%;
    background-color: red;
}
.imageCard{
    height: 45%;
    width: 100%;
    background-color: blue;
}
.descriptionCard{
    height: 55%;
    width: 100%;
}
.cardPrice{
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-weight: bold;
    background-color: palegreen;
}
.caracteristiqueCard{
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
}
.cardType,
.cardLieux{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;align-items: center;
}
.detailsBtn{
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsBtn a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: blue;
    height: 60%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}