.detailDashboard{
    display: flex;
    flex-direction: row;
}
.dashContent{
    height: 100vh;
    width: 80vw;
}

.sellerProductDetail{
    min-height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    /* background-color: darkblue; */
    box-sizing: border-box;
    padding: 20px;
    gap: 2%;
}
/* ----------------------- */

.updateTextareaDiv{
    position: relative;
    height: 200px;
    width: 82%;
    /* background-color: blueviolet; */
}
.updateTextareaDiv textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    resize: none;
    border-radius: 20px;
    border: 2px solid blue;
    background-color: transparent;
}
.updateTextareaDiv label {
    position: absolute;
    top: -10px;
    left: 20px;
    padding: 0 20px;
    background-color: rgb(36, 36, 36);
    text-transform: uppercase;
}

.updateDiv {
    position: relative;
    height: 50px;
    width: 40%;
    margin-top: 30px;
}
.updateDiv input,
.updateDiv select {
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 2px solid crimson;
    background-color: transparent;
}
.updateDiv label {
    position: absolute;
    top: 15px;
    left: 20px;
    text-transform: uppercase;
    padding: 0 20px;
    background-color:  rgb(36, 36, 36);
}

.updateDiv input:valid ,
.updateDiv input:focus,
.updateDiv select:valid,
.updateDiv select:focus{
    border: 2px solid blue;
}

.updateDiv input:valid + label, 
.updateDiv input:focus + label{
    top: -10px;
    left: 20px; 
}



.sellerProductDetail button {
    height: 50px;
    width: 40%;
    border-radius: 20px;
    background-color: blue;
    text-transform: uppercase;
    font-size: large;
    margin-top: 30px;
}

#addProductTypeLabel {
    width: 64%;
}

.imagePlace {
    margin-top: 20px;
    height: 400px;
    width: 83%;
    display: flex;
    flex-wrap: wrap;
}
.imagePlace .image {
    height: 100%;
    width: 70%;
    box-sizing: border-box;
    padding: 2%;
    position: relative;
}
.imagePlace .image img {
    height: 100%;
    width: 100%;
}

.imagePlace .image .rightBtn,
.imagePlace .image .leftBtn {
    display: none;
}

.imagePlace .image:hover .rightBtn,
.imagePlace .image:hover .leftBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #0056ffb0;
}
.imagePlace .image .rightBtn {
    right: 0;
}

.imagePlace div {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.imagePlace div button,
.imagePlace div input {
    width: 80%;
}

@media (max-width: 575px) {
    .dashContent{
        width: 100vw;
    }
    .updateDiv{ 
        width: 68%;
    }
    .updateTextareaDiv{
        width: 68%;
        height: 300px;
    }
    .dashDetailCo{
        z-index: 14;
    }

}